# Virtial Enviroment #
######################
bin
include
lib
local

# Django #
##########
*.py[co]
*.pot
*.db
*.egg
*.egg-info
*.coverage
*.log
*.swp
*~
local_settings.py
*.sqlite3

# Sass #
########
.sass-cache

# Eclipse Metadata #
####################
.metadata/
.settings/
.project
.pydevproject
.metadata
