%html
	%head
		%script{:type => "text/javascript",
		        :src  => "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"}
		%script{:type => "text/javascript",
		        :src  => "//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"}
		%script{:type => "text/javascript",
		        :src  => "../scripts/lib/backbone.js"}
		%script{:type => "text/javascript",
		        :src  => "../scripts/lib/underscore.js"}
		%script{:type => "text/javascript",
		        :src  => "../scripts/some_name_to_be_decided_later.js"}         
	%body
		.wrapper
			stuff goes here
