<html>
  <head>
    <script src='//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js' type='text/javascript'></script>
    <script src='//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js' type='text/javascript'></script>
    <script src='../scripts/lib/backbone.js' type='text/javascript'></script>
    <script src='../scripts/lib/underscore.js' type='text/javascript'></script>
    <script src='../scripts/some_name_to_be_decided_later.js' type='text/javascript'></script>
  </head>
  <body>
    <div class='wrapper'>
      stuff goes here
    </div>
  </body>
</html>
